<div class="page contact" id="contact">
    <div class="container">
        <h1 class="judul">Contact</h1>
        <h3 class="putih">Contact me</h3>
        <hr class="line">
        <div class="row medsos">
            <div class="col-lg-6">
                <a href="https://linkedin.com/in/mriswanda" target="_blank"><h4 class="putih"><i class="fa fa-linkedin-square" style="color:blue"></i>linkedin.com/in/mriswanda</h4></a>
                <a href="mailto:mochammad.riswanda@ui.ac.id"><h4 class="putih"><i class="fa fa-envelope" style="color:red"></i>mochammad.riswanda@ui.ac.id</h4></a>
            </div>
            <div class="col-lg-6">
                <a href="https://instagram.com/riswandaali" target="_blank"><h4 class="putih"><i class="fa fa-instagram" style="color:red"></i>Instagram.com/riswandaali</h4></a>
            </div>
        </div>
    </div>
</div>