<div class="container">
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}#home">
            <span class="material-icons">home</span>
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#experiences">Experiences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#abilities">Abilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story_1:beta' %}">Beta Version</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story_5:mata_kuliah' %}">Tambah Jadwal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story_5:read' %}">Mata Kuliah</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story_6:jadwalku' %}">Daftar Kegiatan</a>
          </li>
        </ul>
    </nav>
</div>