{% extends "index.html" %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'style.css' %}" /> {% endblock %}
{% block body %}
    </div>
    <div class="page jumbotron jumbotron-fluid awal" id="home">
        <div class="container">
            <h1 class="nama">Mohammad Riswanda Alifarahman</h1>
            <p class="quote">“A programmer with management and leadership skills”</p>
        </div>        
    </div>

    <div class="page profile" id="profile">
        <div class="container">
            <h1 class="judul putih">Profile</h1>
            <div class="row">
                <div class="col-lg-4 about">
                    <h1 class="subjudul putih">About</h1>
                    <p>I am student in University of Indonesia majored in Computer Science. Beisde programming skill,
                         I can manage and lead a team work efficienlty.</p>
                </div>
                <div class="col-lg-4 foto">
                    <img id="foto-diri" src="{% static 'foto.jpg' %}">
                    <a  href="{% url 'story_3:resume' %}" class="btn btn-info" id="foto-diri" role="button">Get My Resume</a>
                    
                </div>
                <div class="col-lg-4 description">
                    <h1 class="subjudul putih">Description</h1>
                    <h4>Name :</h4>
                    <p>Mohammad Riswanda Alifarahman</p>
                    <h4>Age :</h4>
                    <p>19 years old</p>
                    <h4>Currently Job :</h4>
                    <p>Student in University</p>
                    <h4>Last Education :</h4>
                    <p>Bachelor Degree of Computer Science
                        University of Indonesia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page experiences" id="experiences">
        <div class="container">
            <h1 class="judul">Experiences</h1>
            <h4 class="subjudul merah">Education</h4>
            <div class="row">
                <div class="col-lg-6">
                    <h4>University of Indonesia</h4>
                    <p>2019-now</p>
                </div>
                <div class="col-lg-6">
                    <h4>Bachelor Degree of Computer Science</h4>
                    <p>Studying some programming language like Python, Java, HTML and CSS. Also studying data stucture and website.</p>
                </div>
            </div>
            <h4 class="subjudul merah">Organization</h4>
            <div class="row">
                <div class="col-lg-6">
                    <h4>BEM Fasilkom</h4>
                    <p>2019-now</p>
                </div>
                <div class="col-lg-6">
                    <h4>Staff of Research and Stategic Action</h4>
                    <p>Doing some research of social and politic in Indonesia especially data protection. 
                        I also learn about copy writting and making some infograpic writing.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page abilities" id ="abilities">
        <div class="container">
            <h1 class="judul">Abilities</h1>
            <div class="row ability">
                <div class="col-lg-3">
                    <h3>Python</h3>
                    <h3>Java</h3>
                    <h3>HTML</h3>
                    <h3>CSS</h3>
                    <h3>Problem Solving</h3>
                </div>
                <div class="col-lg-3">
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h3>Management</h3>
                    <h3>Leadership</h3>
                    <h3>Creativity</h3>
                    <h3>Indonesia</h3>
                    <h3>English</h3>
                </div>
                <div class="col-lg-3">
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
