.up{
    padding: 20px;
    padding-top: 100px;
    display: flex;
    background-color: #F9CB40;
}

.bottom{
    padding: 20px;
    background-color: #FF715B;
    color: white;
    padding-left: 200px;
}

.informasi_umum{
    flex: wrap;
    float: right;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 5px;
    padding-top: 20px;
    font-family: 'Comic Neue';
}

#nama{
    font-family: 'Chonburi';
    font-size: 40px;
    font-weight: bold;
}

#sekolah{
    font-size: 30px;
}

.judul_beta{
    color:white;
}

.container{
    width: 100%;
}