{% extends "index.html" %}
{% load static %}
{% block body %}
    <div class="container" style="padding: 10px;margin: 10vh;">
        
        <div class="row ability">
            {% for matkul in jadwal %}
            <div class="col-lg-4">
                <a href="/mata_kuliah/read/{{ matkul.id }}">
                <div style="border: #000 2px solid;border-radius: 10px; margin:20px auto;background-color:#D1CEBD; width:75%;
                        padding: 30px;">
                    <h2 style= "color:#F57B51; font-size: 40px;">{{ matkul.mata_kuliah }} {{matkul.semester}}</h2>
                    <p style= "color:#292929; font-size: 20px;">Dosen : {{ matkul.dosen }}</p>
                    <a href= "{% url 'story_5:delete' id=matkul.id %}"><button type="button"  class="btn btn-primary"> Hapus </button></a>
                </div>
                </a>
            </div>
            {% endfor %} 
        </div>
        
    </div>
    
{% endblock %}

