{% extends "index.html" %}
{% load static %}
{% block body %}
<div class="container" style="padding: 10px;margin: 10vh;">
    <h1 style="color:#F57B51; text-align: center;">{{ jadwal.mata_kuliah}}</h1>
    <h3 style="padding-left:100px">Dosen :</h3><p style="padding-left:100px">{{ jadwal.dosen }}</p>
    <h3 style="padding-left:100px">SKS :</h3><p style="padding-left:100px">{{ jadwal.sks }}</p>
    <h3 style="padding-left:100px">Semester :</h3><p style="padding-left:100px">{{ jadwal.semester }}</p>
    <h3 style="padding-left:100px">Deskripsi :</h3><p style="padding-left:100px">{{ jadwal.deskripsi }}</p>
    <h3 style="padding-left:100px">Ruangan :</h3><P style="padding-left:100px">{{ jadwal.ruangan }}</P>
    <a href= "{% url 'story_5:delete' id=jadwal.id %}" style="padding-left:100px"><button type="button" class="btn btn-primary"> Hapus </button></a>
</div>
    
{% endblock %}