body{
    background-color: #F6EEDF;
}

* {
    box-sizing: border-box;
  }
.navbar-nav{
    font-size: 20px;
}

.judul{
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    color:#F57B51;
}

.contact{
    background-color: #3F3D34;
}
.line{
    background-color: white;
    border-width: 5px;
}

.medsos{
    padding-top:30px;
    font-size: 10px;
}