{% extends "index.html" %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'style_beta.css' %}" /> {% endblock %}
{% block body %}
<div class="cover">
    <div class="container">
        <div class="up">
            <div class="foto">
                <img id="foto_diri" src="{% static 'foto.jpg' %}" alt="foto Riswanda">
            </div>             
            <div class="informasi_umum">
                <h1 id="nama">Mohammad Riswanda Alifarahman</h1>
                <h1 id="sekolah">S1 Ilmu Komputer Universitas Indonesia</h1>
                <h1 id="angkatan">2019 - sampai sekarang</h1>
                <h1 id="npm">NPM : 1906293171</h1>
                <h1 id="quote">"Never give up, always smile, give the best"</h1>  
            </div>
        </div>
    </div>
</div>


<div class="cover">
    <div class="container">
        <div class="bottom">
            <div class="informasi_khusus">
                <h1 class="judul_beta">Hobi</h1>
                    <h1 class="penjelasan">Membaca dan mendengarkan musik</h1>
                <h1 class="judul_beta">Deskripsi</h1>
                    <h1 class="penjelasan">Saya adalah seorang mahasiswa ilmu komputer.</h1>
                <h1 class="judul_beta">Riwayat Pendidikan</h1>
                    <ul class="penjelasan">
                        <li>S1 Ilmu Komputer Universitas Indonesia</li>
                        <h1 id="tahun">2019 - sekarang</h1>
                        <li>SMAN 28 Jakarta</li>
                        <h1 id="tahun">2016 - 2019</h1>
                    </ul>
                <h1 class="judul_beta">Sosial Media</h1>
                <ul>
                    <li class="penjelasan"> <a href="linkedin.com/in/mriswanda">Linkedin</a></li>
                    <li class="penjelasan"><a href="instagram.com/riswandaali">Instagram</a></li>
                </ul>
            </div>            
        </div>
    </div>
</div>    


{% endblock %}