{% extends "index.html" %}
{% load static %}
{% block style %} <link rel="stylesheet" href="/static/style_resume.css" /> {% endblock %}
{% block body %}
<div class="container judul">
    <h1>To See My Resume, Click The Button Bellow</h1>
    <a class= "download" href="/static/CV Mohammad Riswanda Alifarahman.pdf" target="_blank">Download</a>
</div>
{% endblock %}