.form-container {
    border: #000 5px solid;
    border-radius: 1em;
    margin: 10vh auto;
    padding: 10px;
    max-width: 750px;
}

.form-container form label {
    display: block;
    margin-top: 20px;
}

.form-container form input {
    width: 100%;
    display: block;
}

.form-container form select {
    margin: auto;
    display: block;
}

.btn{
    margin-top: 30px;
}

.form-container form button:hover {
    background: #0080ff; 
}
