{% extends "index.html" %}
{% load static %}
{% block style %} <link rel="stylesheet" href="/static/style_form.css" /> {% endblock %}
{% block body %}
<div class="form-container">
    <h1 style="Color:#F57B51; text-align: center;" > Tambah Orang </h1>
    <form action="/form-person/" method="POST">
        {% csrf_token %}
          {{ form }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}