{% extends "index.html" %}
{% load static %}
{% block body %}
<div class="container" style="padding: 10px;margin: 10vh;">
        
    <div class="row">
        {% for kegiatan in daftar_kegiatan %}
        <div class="col-lg-4">
            
            <div style="border: #000 2px solid;border-radius: 10px; margin:20px auto;background-color:#D1CEBD; width:75%;
                    padding: 30px;">
        
                <h2 style= "color:#F57B51; font-size: 40px;">{{kegiatan.0.nama_jadwal}}</h2>
                <a href="delete-jadwal/{{ kegiatan.0.id }}">Hapus</a>
                <p style= "color:#292929; font-size: 20px;">{{kegiatan.0.deskripsi_jadwal}}</p>
                
                {% for peserta in kegiatan.1 %}
                <div class="row">
                    <div class="col-lg-6">
                        <p style= "color:#292929; font-size: 20px;padding-right: 10px">{{ peserta.nama_orang }}</p>
                    </div>
                    <div class="col-lg-6">
                        <a href="delete-person/{{ peserta.id }}">Hapus</a>
                    </div>
                </div>
                {% endfor %}
                <a href= "{% url 'story_6:form-person' %}"><button type="button"  class="btn btn-primary"> Tambah Orang </button></a>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href= "{% url 'story_6:form-jadwalku' %}"><button type="button"  class="btn btn-primary"> Tambah Jadwal </button></a>
</div>    
    
{% endblock %}